<a href="https://colab.research.google.com/github/RaziehAkbari2020/BigData-Spark-sql/blob/main/Book_Rating_the_first_and_second_question_Dataframe_and_Spark_Sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f20680321b4250ee8c3bff2024fcfab276c9346e99cf94df984c5a34a965364c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.master('local[*]').appName('First SQL').getOrCreate()

In [17]:
rate_df =spark.read.options(sep=';', header=True, inferSchema=True).csv('/content/Book-Ratings.csv')

In [19]:
rate_df.printSchema()

root
 |-- userid: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- rate: integer (nullable = true)

In [20]:
rate_df.show(5)

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
+------+----------+----+
only showing top 5 rows

انتخاب ستون های مدنظر در جدول بوک ریتینگ
bookrating

In [21]:
new_rate_df=rate_df.select('userid','rate')

In [22]:
new_rate_df.show(5)

+------+----+
|userid|rate|
+------+----+
|276725|   0|
|276726|   5|
|276727|   0|
|276729|   3|
|276729|   6|
+------+----+
only showing top 5 rows

In [23]:
rate_df.filter('rate>5').select('isbn','rate').show(5)

+----------+----+
|      isbn|rate|
+----------+----+
|0521795028|   6|
|3257224281|   8|
|0600570967|   6|
|038550120X|   7|
| 342310538|  10|
+----------+----+
only showing top 5 rows

In [24]:
rate_df.groupBy('isbn').avg('rate').show(10)

+----------+------------------+
|      isbn|         avg(rate)|
+----------+------------------+
|2080674722|3.6666666666666665|
|3499134004|               0.0|
|3548603203|3.4166666666666665|
|880781112X| 4.333333333333333|
|0738205737|1.6666666666666667|
|0749317256|               0.0|
|0515131520|            1.6875|
|8471662531|               7.0|
|0441005470|               0.0|
|0739417096| 5.285714285714286|
+----------+------------------+
only showing top 10 rows

In [26]:
###rate_df.groupBy('isbn').count().show(10)
####rate_df.groupBy('isbn').sum('rate').show(10)

# **سوال: هر کتابی به طور میانگین چه امتیازی دریافت کرده است؟**

In [63]:
book_avg_rate=rate_df.groupBy('isbn').avg('rate').show(10)

+----------+------------------+
|      isbn|         avg(rate)|
+----------+------------------+
|2080674722|3.6666666666666665|
|3499134004|               0.0|
|3548603203|3.4166666666666665|
|880781112X| 4.333333333333333|
|0738205737|1.6666666666666667|
|0749317256|               0.0|
|0515131520|            1.6875|
|8471662531|               7.0|
|0441005470|               0.0|
|0739417096| 5.285714285714286|
+----------+------------------+
only showing top 10 rows

In [32]:
from pyspark.sql.functions import *

In [36]:
rate_df.groupBy('isbn').avg('rate'). orderBy(col('avg(rate)').desc()).show(10)

+----------+---------+
|      isbn|avg(rate)|
+----------+---------+
|8804478519|     10.0|
|1886411999|     10.0|
|0600576205|     10.0|
|9707100567|     10.0|
|0753451948|     10.0|
|0690041535|     10.0|
|3442431468|     10.0|
|1576903389|     10.0|
|0385411197|     10.0|
|067088782X|     10.0|
+----------+---------+
only showing top 10 rows

In [42]:
rate_df.groupBy('isbn').agg(count('rate'), sum('rate'), avg('rate')).filter(avg('rate')>5 ).orderBy(col('count(rate)').desc()).show()

+----------+-----------+---------+------------------+
|      isbn|count(rate)|sum(rate)|         avg(rate)|
+----------+-----------+---------+------------------+
|043935806X|        334|     1861|  5.57185628742515|
|0345339681|        281|     1407|  5.00711743772242|
|0439136369|        226|     1208| 5.345132743362832|
|0439136350|        197|     1274| 6.467005076142132|
|0812550706|        195|     1034| 5.302564102564102|
|0439139597|        194|     1269| 6.541237113402062|
|0439139600|        193|      985| 5.103626943005182|
|0439064864|        170|     1124|6.6117647058823525|
|0590353403|        168|     1069| 6.363095238095238|
|0671027344|        103|      535| 5.194174757281553|
|0670894605|         96|      528|               5.5|
|0552137030|         93|      468| 5.032258064516129|
|0156528207|         79|      458|5.7974683544303796|
|0552131067|         78|      418| 5.358974358974359|
|0877017883|         72|      435| 6.041666666666667|
|0618002219|         70|      351| 5.014285714285714|
|0446677450|         64|      343|          5.359375|
|0894808249|         63|      330| 5.238095238095238|
|0618002227|         63|      391|6.2063492063492065|
|0618129022|         62|      342| 5.516129032258065|
+----------+-----------+---------+------------------+
only showing top 20 rows

In [45]:
rate_df.createOrReplaceTempView('rating')

In [ ]:
## df=spark.sql(sql query)

In [46]:
spark.sql('select * from rating').show(5)

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
+------+----------+----+
only showing top 5 rows

In [47]:
spark.sql('select * from rating WHERE rate>5').show(5)

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276729|0521795028|   6|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
+------+----------+----+
only showing top 5 rows

## سوال دوم با روش اول: مجموعه داده جدیدی مطابق فیلدهای زیر تولید کند. خروجی مورد نظر در پایگاه داده قرار داده شود.
(username; book title; username’ rate; Book Avg’ rate)

In [48]:
Book_df =spark.read.options(sep=';', header=True, inferSchema=True).csv('/content/Books.csv')

In [49]:
User_df =spark.read.options(sep=';', header=True, inferSchema=True).csv('/content/Users.csv')

In [50]:
Book_df.show(5)

+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|      ISBN|           BookTitle|          BookAuthor|YearOfPublication|           Publisher|           ImageURLS|           ImageURLM|           ImageURLL|
+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|  Mark P. O. Morford|             2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|
|0002005018|        Clara Callan|Richard Bruce Wright|             2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|
|0060973129|Decision in Normandy|        Carlo D'Este|             1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|
|0374157065|Flu: The Story of...|    Gina Bari Kolata|             1999|Farrar Straus Giroux|http://images.ama...|http://images.ama...|http://images.ama...|
|0393045218|The Mummies of Ur...|     E. J. W. Barber|             1999|W. W. Norton &amp...|http://images.ama...|http://images.ama...|http://images.ama...|
+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [51]:
User_df.show(5)

+------+-----------+--------------------+----+
|UserID|   USERNAME|            Location| Age|
+------+-----------+--------------------+----+
|     1|bzsufoRTLN2|  nyc, new york, usa|NULL|
|     2|fq7kfHg4VEI|stockton, califor...|  18|
|     3|W0Hbkd3xR8v|moscow, yukon ter...|NULL|
|     4|W51GahAx5Ap|porto, v.n.gaia, ...|  17|
|     5|VKN3PQ18GgN|farnborough, hant...|NULL|
+------+-----------+--------------------+----+
only showing top 5 rows

In [52]:
rate_df.show(5)

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
+------+----------+----+
only showing top 5 rows

جوین بین سه تا جدول

In [65]:
joined_df = rate_df.join(User_df, rate_df['userid'] == User_df['UserID'])\
                     .join(Book_df, rate_df['isbn'] == Book_df['isbn'])

In [66]:
joined_df.show(5)

+------+----------+----+------+-----------+--------------------+----+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|userid|      isbn|rate|UserID|   USERNAME|            Location| Age|      ISBN|           BookTitle|          BookAuthor|YearOfPublication|           Publisher|           ImageURLS|           ImageURLM|           ImageURLL|
+------+----------+----+------+-----------+--------------------+----+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|171118|0000913154|   8|171118|6chdqlR3DC7|toronto, ontario,...|  47|0000913154|The Way Things Wo...|C. van Amerongen ...|             1967|Simon &amp; Schuster|http://images.ama...|http://images.ama...|http://images.ama...|
| 86123|0001010565|   0| 86123|px70uymJ7k6|peterborough, ont...|NULL|0001010565|     Mog's Christmas|         Judith Kerr|             1992|             Collins|http://images.ama...|http://images.ama...|http://images.ama...|
|209516|0001010565|   0|209516|mjteD2ip2Lj|felixstowe, suffo...|  57|0001010565|     Mog's Christmas|         Judith Kerr|             1992|             Collins|http://images.ama...|http://images.ama...|http://images.ama...|
| 23902|0001046438|   9| 23902|cHwJip4Kj4k|london, england, ...|NULL|0001046438|                Liar|         Stephen Fry|                0|    Harpercollins Uk|http://images.ama...|http://images.ama...|http://images.ama...|
|206300|0001046934|   0|206300|6VUiynjA3tV|london, england, ...|  34|0001046934|The Prime of Miss...|        Muriel Spark|             1999|Trafalgar Square ...|http://images.ama...|http://images.ama...|http://images.ama...|
+------+----------+----+------+-----------+--------------------+----+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

محاسبه میانگین رتبه برای هر کتاب

In [89]:
book_avg_ratings = joined_df.groupBy("BookTitle") \
                            .avg("rate") \
                            .select(col("BookTitle").alias("Bookstitle"), col("avg(rate)").alias("Book Avg rate"))

In [90]:
book_avg_ratings.show(5)

+--------------------+------------------+
|          Bookstitle|     Book Avg rate|
+--------------------+------------------+
|                   K|               8.0|
|Seven Years In Tibet|3.3333333333333335|
|Survival Guide to...|               0.0|
|Five Photos of My...|2.6666666666666665|
|Prophecies: 4,000...|               0.0|
+--------------------+------------------+
only showing top 5 rows

جوین

In [91]:
final_df = joined_df.join(book_avg_ratings, joined_df['BookTitle']==book_avg_ratings['Bookstitle'] ,'right_outer')

In [92]:
final_df.show(5)

+------+----------+----+------+-----------+--------------------+----+----------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|userid|      isbn|rate|UserID|   USERNAME|            Location| Age|      ISBN|           BookTitle|     BookAuthor|YearOfPublication|           Publisher|           ImageURLS|           ImageURLM|           ImageURLL|          Bookstitle|     Book Avg rate|
+------+----------+----+------+-----------+--------------------+----+----------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|173650|0027495108|   0|173650|2xFOUoi9Kj5|edmonton, alberta...|  27|0027495108|              Apt. 3|Ezra Jack Keats|             1983|MacMillan Publish...|http://images.ama...|http://images.ama...|http://images.ama...|              Apt. 3|               0.0|
|207291|0007100922|   0|207291|0UKTxDP3a72|brisbane, queensl...|NULL|0007100922|Five Photos of My...| Agnes Desarthe|             2001|            Flamingo|http://images.ama...|http://images.ama...|http://images.ama...|Five Photos of My...|2.6666666666666665|
| 26883|0007100922|   6| 26883|cQMFLwimRbh|vienna, vienna, a...|NULL|0007100922|Five Photos of My...| Agnes Desarthe|             2001|            Flamingo|http://images.ama...|http://images.ama...|http://images.ama...|Five Photos of My...|2.6666666666666665|
| 27650|0007100922|   0| 27650|9h7VBuv50Wn|canberra, austral...|  27|0007100922|Five Photos of My...| Agnes Desarthe|             2001|            Flamingo|http://images.ama...|http://images.ama...|http://images.ama...|Five Photos of My...|2.6666666666666665|
| 85872|0007100922|   7| 85872|VMYrjng0Xl5|sydney, new south...|  36|0007100922|Five Photos of My...| Agnes Desarthe|             2001|            Flamingo|http://images.ama...|http://images.ama...|http://images.ama...|Five Photos of My...|2.6666666666666665|
+------+----------+----+------+-----------+--------------------+----+----------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+
only showing top 5 rows

 انتخاب فیلدهای مورد نیاز برای خروجی نهایی

In [94]:
final_df.select("USERNAME", "BookTitle","rate", "Book Avg rate").show(5)

+-----------+--------------------+----+------------------+
|   USERNAME|           BookTitle|rate|     Book Avg rate|
+-----------+--------------------+----+------------------+
|2xFOUoi9Kj5|              Apt. 3|   0|               0.0|
|cQMFLwimRbh|Five Photos of My...|   6|2.6666666666666665|
|9h7VBuv50Wn|Five Photos of My...|   0|2.6666666666666665|
|VMYrjng0Xl5|Five Photos of My...|   7|2.6666666666666665|
|8dSXnKtI7XQ|Five Photos of My...|   0|2.6666666666666665|
+-----------+--------------------+----+------------------+
only showing top 5 rows

## سوال دوم با روش sql

In [ ]:
User_df.createOrReplaceTempView('Users')
Book_df.createOrReplaceTempView('Books')
rate_df.createOrReplaceTempView('rates')

In [96]:
query = """
SELECT U.USERNAME, B.BookTitle, R.rate, AVG(R.rate) OVER(PARTITION BY B.BookTitle) AS `Book Avg rate`
FROM Users U
JOIN Rates R ON U.UserID = R.userid
JOIN Books B ON R.isbn = B.ISBN
"""

result_df = spark.sql(query)

In [97]:
result_df.show()

+-----------+--------------------+----+-------------+
|   USERNAME|           BookTitle|rate|Book Avg rate|
+-----------+--------------------+----+-------------+
|pUouDwsRkWg| A Light in the S...|   0|         2.25|
|SgEtQDV3Ty9| A Light in the S...|   0|         2.25|
|looRoOsPQOE| A Light in the S...|   0|         2.25|
|ARnPQAAZX22| A Light in the S...|   9|         2.25|
|XViLfgjAPjr| Always Have Pops...|   0|          0.0|
|3X2htHp8Jgk| Apple Magic (The...|   0|          0.0|
|Sdp6sFiz8JZ| Ask Lily (Young ...|   8|          8.0|
|b6EW9AjgVJh| Beyond IBM: Lead...|   0|          0.0|
|ozDVdJsSNFq| Clifford Visita ...|   0|          0.0|
|B6sjwQNgBvv|            Deceived|   0|          0.0|
|Sf6oUFiPtfu|            Deceived|   0|          0.0|
|eJeGfMDh4PC| Final Fantasy An...|   0|          5.0|
|y5EKpeHmypT| Final Fantasy An...|   0|          5.0|
|c3Php0UW0q0| Final Fantasy An...|  10|          5.0|
|UUnmFBd9Qb2| Final Fantasy An...|  10|          5.0|
|vStX3Wq9rPe| Flight of Fancy:...|   8|          4.0|
|zyIcUrR2zAB| Flight of Fancy:...|   0|          4.0|
|vn9OZwcXlaK| Good Wives: Imag...|   0|          3.2|
|NtvgyP6xCnQ| Good Wives: Imag...|   7|          3.2|
|gBpNBivhJ0r| Good Wives: Imag...|   0|          3.2|
+-----------+--------------------+----+-------------+
only showing top 20 rows